body {
    color: #404040;
    font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

html, body, #content {
    height: 100%;

}

h1 {
    font-size: 22px;
    margin: 0;
    font-weight: 400;
}

a {
    color: #404040;
    text-decoration: none;
}

.quiet {
    color: #888;
}

a:hover {
    color: #101010;
}

.heading {
    background: #fff;
    border-bottom: 1px solid #eee;
    height: 60px;
    line-height: 60px;
    padding: 0 10px;
}

.listings {
    height: 100%;
    overflow: auto;
    padding-bottom: 60px;
}

.listings .item {
    display: block;
    border-bottom: 1px solid #eee;
    padding: 10px;
    text-decoration: none;
}

.listings .item:last-child {
    border-bottom: none;
}

.listings .item .title {
    display: block;
    color: #00853e;
    font-weight: 700;
}

.listings .item .title small {
    font-weight: 400;
}

.listings .item.active .title,
.listings .item .title:hover {
    color: #8cc63f;
}

.listings .item.active {
    background-color: #f8f8f8;
}

.sidebar {
    min-width: 300px;
    max-width: 480px;
    width: 10%;
    top: 50px;
    position: fixed;
    height: 100%;
    background: rgba(0, 0, 0, 0.1) none repeat scroll 0% 0%;
    border-left: 1px solid rgba(0, 0, 0, 0.25);
    right: 0px;
    padding-bottom: 100px;
    overflow: scroll;
}

#sidebar-content {
    background-color: #FFF;
    padding: 15px 10px;
    border-radius: 5px;
    margin: 15px 20px 100px;
}

.sidebar-dumpster-comment {
    padding: 5px 10px;
    margin-top: 10px;
    border: 1px solid gainsboro;
    border-radius: 3px;
    background-color: ghostwhite;
}
.content {
    padding-top: 50px;
    height: 100%;
}

#map {
    position: relative;
    height: 100%;
}

.navbar {
    background-color: #45A15C;
    color: white;
}

.title {
    color: white;
}

.imprint {
    left: 5px;
    position: absolute;
    bottom: 5px;
    font-size: smaller;
    background-color: rgba(255, 255, 255, 0.41);
    border-radius: 10px;
    padding: 1px 5px 1px 5px;
}

/* Marker tweaks */
.leaflet-popup-close-button {
    display: none;
}

.leaflet-popup-content-wrapper {
    padding: 0;
}

.leaflet-popup-content h3 {
    background: #91c949;
    color: #fff;
    margin: 0;
    display: block;
    padding: 10px;
    border-radius: 3px 3px 0 0;
    font-weight: 700;
    margin-top: -15px;
}

.leaflet-popup-content div {
    padding: 2px;
}

.dumpster-list-entry {
    color: black;
    background-color: white;
}

/* Navbar */
.navbar-inverse {
    background-color: #45A15C
}

.navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    background-color: #45A15C
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #45A15C
}

.dropdown-menu {
    background-color: #45A15C
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #45A15C
}

.navbar-inverse {
    background-image: none;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-image: none;
}

.navbar-inverse {
    border-color: #080808
}

.navbar-inverse .navbar-brand {
    color: #FFFFFF
}

.navbar-inverse .navbar-text {
    color: #FFFFFF
}

.navbar-inverse .navbar-brand:hover {
    color: #FFFFFF
}

.navbar-inverse .navbar-nav > li > a {
    color: #FFFFFF
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #FFFFFF
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #FFFFFF
}

.navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #FFFFFF
}

.dropdown-menu > li > a {
    color: #FFFFFF
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #FFFFFF
}

.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: #999999
}

.navbar-inverse .navbar-nav > .dropdown > a:hover .caret {
    border-top-color: #FFFFFF
}

.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-bottom-color: #999999
}

.navbar-inverse .navbar-nav > .dropdown > a:hover .caret {
    border-bottom-color: #FFFFFF
}

/* /Navbar */

/* -------- Map ------- */
.dumpster-icon{
    border-radius: 100%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: white;
    background: #3ca0d3;

}
.dumpster-clustered-icon {

}
.dumpster-neutral-icon {
    background: black;
    width: 7px;
    height: 7px;
    line-height: 5px;
}
.dumpster-good-icon {
    background: green;
}
.dumpster-bad-icon {
    background: red;
    width: 7px;
    height: 7px;
    line-height: 5px;
}
