# ℹ️ Required variables
# ---------------------
# DATABASE_URL schema:
# postgresql://user:password@localhost:5432/db_name
SECRET_KEY=<REQUIRED>
DATABASE_URL=<REQUIRED>

# ℹ️ Optional variables
# ---------------------
DEBUG=<REQUIRED>
