[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-cors-headers = "*"
djangorestframework = "*"
djangorestframework-gis = "*"
psycopg2-binary = "*"
requests = "*"
gunicorn = "*"
dj-database-url = "*"
Django = "*"
Shapely = "*"
django-environ = "*"
pytest = "*"
factory-boy = "*"
pytest-django = "*"
python-dotenv = "*"
sentry-sdk = "*"
fastkml = "*"
pytz = "*"

[dev-packages]
pre-commit = "*"

[requires]
python_version = "3.10"
