@font-face {
    font-family: titillium;
    src: url('/static/fonts/TitilliumText25L.otf');
}

/* Sitenav */
.sitenav {
    font-family: titillium;
    font-size: 16px;
    color: #646464;
    padding: 0;
}

.sitenav li {
    display: inline;
    list-style: none;
    margin-right: 20px;
}

.sitenav li:last-child {
    margin-right: 0;
}

/* make things absolute in the map */

.container {
    position: relative;
}

#footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    /*    -webkit-transition: all linear 0.3s;
        -moz-transition: all linear 0.3s;
        -o-transition: all linear 0.3s;
        transition: all linear 0.3s;*/
}

#header,
#header-left,
#header-right,
#header-buttons {
    margin: 0;
}

#header-left,
#header-right,
#buttons-left,
#buttons-right,
#footer-left,
#footer-right,
#footer-center {
    position: absolute;
    z-index: 10;
}

#header-left,
#buttons-left,
#footer-left {
    left: 15px;
}

#header-right,
#buttons-right,
#footer-right {
    right: 15px;
}

#footer-center {
    left: 50%;
}

#footer-left,
#footer-right {
    bottom: 10px;
}

#footer-center {
    bottom: 30px;
}

#header-left {
    top: 20px;
}

#header-right {
    top: 40px;
}

#buttons-left,
#buttons-right {
    top: 140px;
}

#buttons-left div,
#buttons-right div {
    margin-top: 20px;
}

@media (max-width: 992px) {
    #header-left {
        top: 25px;
    }
}

@media (max-width: 768px) {
    #buttons-left,
    #buttons-right {
        top: 0;
    }
}

/* navbar */

.navbar {
    z-index: 100;
}

.navbar-info {
    margin: 8px 15px 8px 0;

    height: 34px;
    width: 42px;

    padding: 11px 0 9px 0;
    line-height: 12px;

    font-size: 12px;
    font-weight: bold;
    color: #de6a00;
}
