body {
    padding: 0;
    margin: 0;
}

html, body, #map {
    height: 100%;

}

.custom-popup .leaflet-popup-content-wrapper {
    background: #2c3e50;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
}

.custom-popup .leaflet-popup-content-wrapper a {
    color: rgba(255, 255, 255, 0.5);
}

.custom-popup .leaflet-popup-tip-container {
    width: 100px;
    height: 15px;
}

.custom-popup .leaflet-popup-tip {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #2c3e50;
}

.dumpster-list-entry {
    color: black;
    background-color: white;
}