argparse==1.2.1
Babel==0.9.4
backports.ssl-match-hostname==3.4.0.2
boto==2.40.0
bzr==2.1.1
chardet==2.2.1
django-cors-headers==1.1.0
django-rest==0.0.1
djangorestframework==3.3.3
docutils==0.6
duplicity==0.6.26
ethtool==0.6
fail2ban==0.9.3
Genshi==0.5.1
getmail==4.49.0
Glances==1.7.4
GnuPGInterface==0.3.2
iniparse==0.3.1
iotop==0.3.2
ipaddr==2.1.9
lockfile==0.8
lxml==2.2.3
M2Crypto==0.20.2
Magic-file-extensions==0.1
mercurial==2.1.2
MySQL-python==1.2.3rc1
ordereddict==1.2
paramiko==1.7.5
PIL==1.1.6
psutil==0.6.1
pyasn1==0.0.12a0
pycrypto==2.0.1
pycurl==7.19.0
Pygments==1.1.1
pygpgme==0.1
pyinotify==0.9.1
pysqlite==2.3.5
python-dateutil==1.4.1
python-memcached==1.43
pytz===2010h
requests==2.6.0
rsa==3.4.1
s3cmd==1.6.1
six==1.9.0
urlgrabber==3.9.1
urllib3==1.10.2
yum-metadata-parser==1.1.2
